# Directories
.build
*.lock
*.env
**/build

# Xcode
*.xcodeproj
*.xcworkspace
.swiftpm

# Swift Package Manager
.derivedData
.package
*.resolved
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
fastlane/profiles
fastlane/**/profiles
*.mobileprovision
*.cer
*.p12
*.key
src/.env
src/DotDash.app.dSYM.zip
*.ipa
src/.env
**/test_output
src/fastlane/report.xml
src/fastlane/README.md

# Firebase
GoogleService-Info.plist
GoogleService-Info-release.plist
GoogleService-Info-debug.plist
src/Baseline.json

# vscode
.vscode/

# Others
.DS_Store
*.p8