#include "base.xcconfig"

CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY[sdk=iphoneos*] = Apple Development
PROVISIONING_PROFILE_SPECIFIER =
PRODUCT_NAME = DotDash
PRODUCT_BUNDLE_IDENTIFIER = br.com.bitxlabs.app.dotdash.ios.debug
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_OPTIMIZATION_LEVEL = 0
ONLY_ACTIVE_ARCH = YES
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)
ENABLE_TESTABILITY = YES
GCC_DYNAMIC_NO_PIC = NO
MTL_ENABLE_DEBUG_INFO = YES
SWIFT_OPTIMIZATION_LEVEL = -Onone
OTHER_SWIFT_FLAGS = $(inherited) -Xfrontend -debug-time-function-bodies