TEST_HOST = $(BUILT_PRODUCTS_DIR)/DotDash.app/DotDash
BUNDLE_LOADER = $(TEST_HOST)
PRODUCT_BUNDLE_IDENTIFIER = br.com.bitxlabs.app.dotdashTests
PRODUCT_NAME = $(TARGET_NAME)
DEVELOPMENT_TEAM = Z6MUH3V2QB
CODE_SIGN_STYLE = Automatic
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
SWIFT_VERSION = 6.0
DEAD_CODE_STRIPPING = YES
GENERATE_INFOPLIST_FILE = YES
IPHONEOS_DEPLOYMENT_TARGET = 15.0
SDKROOT = auto
SUPPORTED_PLATFORMS = iphoneos iphonesimulator macosx
SWIFT_EMIT_LOC_STRINGS = NO
TARGETED_DEVICE_FAMILY = 1,2
TEST_TARGET_NAME = DotDash
ENABLE_USER_SCRIPT_SANDBOXING = NO